$black : #000;
$white : #fff ;
$white2 : #FAFAFA ;
$white3 : #F4F5F7 ;
$white4:#F9FAFB;
$turquoise :  #77BDA3;
$turquoise2 :  #84E1A7;

$darkBlue: #2D314D;
$lightGrey:#959499;
$lightGrey2:#99989D;
$darkGrey:#6B7280;




$mainGradient :linear-gradient(90deg, #31CF72 4.85%, #2CBAC7 100%);
$gradient2 :  linear-gradient(90deg, #31CF70 4.85%, #2CB9CB 100%);

